<form action='/pirates' methods='POST'>
  <h2>Pirates</h2>
  <label for= 'pirate_name'> Name</label>
  <input id="pirate_name" type='text' name='pirate[name]'/> </br>
<label for= 'pirate_wieght'> Weight</labe>
<input id="pirate_weight" type='text' name='pirate[weight]'/></br>

<label for= 'pirate_name'> Name</label>
  <input id="pirate_name" type='text' name='pirate[name]'